body{
    margin: 0;
    padding: 0;
}

.universal_padding{
    padding-left: 100px;
    padding-right: 100px;
}

/* Navbar css start */
.nav_bar{
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 0 rgb(189, 186, 186);
    /* flex-direction: column; */
}

.logo_sec{
    display: flex;
    justify-content: left;
    align-items: center;
    /* flex-direction: column; */
}
.logo_sec img{
    width: 70px;
    height: 2rem;
    margin-right: 10px;
}
.logo_title{
    font-size: 30px;
}
.logo_col{
    color: rgb(252, 25, 165);
}
.nav_con{
    display: flex;
    justify-content: right;
    align-items: center;
}
.nav_con a{
    text-decoration: none;
    padding-left: 10px;
    color: rgb(75, 66, 66);
    font-weight: 600;
    margin-left: 10px;
}
.nav_social_media{
    background-color: rgb(236, 228, 228);
    border-radius: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: 15px;
    padding: 0px 25px;
    font-weight: 600;
    color: rgb(75, 66, 66);
}
.nav_social_media a{
    text-decoration: none;
    
}
.icon_link i{
    padding: 3px 6px;
    border-radius: 4px;
}
.fa-youtube{
  background: red;
  color: white;
}
.fa-facebook{
  background: #3B5998;
  color: white;
}
/* Navbar css end */

/* Banner css start here */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_content a{
    text-decoration: none;   
}
.banner_title_1{
    font-size: 2rem;
}
.banner_title_2{
    font-size: 3rem;
    margin-top:-15px;
    color: rgb(224, 48, 224);
}
.fa-play{
    color: rgb(224, 48, 224);
}
.fa-arrow-down{
    color: rgb(224, 48, 224);
}
.fa-users{
    color: rgb(224, 48, 224);
}
.banner_btn{
    margin-top: 40px;
}
.banner_signin{
    margin-right: 25px;
    background-color: rgb(248, 39, 154);
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 1rem;
    font-family: bold;
}
.banner_rogue{
    background-color: rgb(84, 154, 245);
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 1rem;
    font-family: bold;
}


.banner_img img{
    width: 100%;
    height: 70vh;
}
/* Banner css end here */

/* Online Game section start here */

.online_games{  
    margin-top: 75px;
    margin-bottom: 75px;
}
.online_games h1{
    font-size: 3rem;
    margin-bottom: 0px;
    text-align: center;
}
.online_games p{
    font-size: 1rem;
    text-align: center;
}
.funny_color{
    color: rgb(224, 48, 224);   
}
.online_game_videos{
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.card p{
    text-align: start;
}
.card_img{
    width: 100%;

}
.card_img:hover{
    border: 2px solid rgba(248, 39, 154);
    border-radius: 15px; 
    opacity: .4;
    z-index: .5;
}
.card_img:hover + .middle{
    display: block;
    z-index: 1;
}

.middle{
    text-align: center;
    position: relative;
    top: -250px;
    display: none;
}
/* Online Game section end here */


/* Instant Play section start here */

.instant_play{
    display: flex;
    gap: 200px;
}
.instant_content{
    width: 40%;   
    text-align: right;
    margin-left: 140px;
    margin-top: 100px;
}
.instant_content_title{
    font-size: 2.5rem;
}
.instant_play_title_col{
    color: rgb(224, 48, 224); 
}
.instant_image{
    width: 60%;
    height: auto;
    margin-left: 100px;
}
.instant_image_big{
    width: 100%;
    position: relative;
    z-index: .5;
}
.instant_image_small{
    width: 50%;
    height: 40%;
    position: relative;
    bottom: 180px;
    right: 90px;
    z-index: 1;
}
/* Instant Play Section End here */


/* Popular Game Section Start Here */

.popular_games{
    margin-top: 0px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.card_small{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card_small:hover{
    border: 2px solid rgb(224, 48, 224);
    border-radius: 25px;
    color: rgb(224, 48, 224); 
}
.card_item{
    width: 40px;
    height: 40px;
}

/* Popular Game Section End Here */

















/* Responsive Section */

/* Nav section responsiveness start here */
/* For smaller Device */
@media screen and (max-width: 576px) {
.universal_padding{
    padding-left: 0px;
    padding-right: 0px;

}
    .nav_bar{     
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .logo_sec{
    align-items: center;
    justify-content: center;
}
.logo_sec img{
    width: 50px;
    height: 1.6rem;
    margin-right: 10px;
}
.logo_title{
    font-size: 1.6rem;
}
.nav_con{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
}
.nav_con a{
    margin-top: 10px;
    
}
.nav_social_media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 0px;
    margin-left: 0px;
}
.nav_social_media a{
    margin-top: 0;
    margin-left: 0;
}

.icon_link i{
    width: 20px;
    height: 17px;
    border-radius: 4px;
    margin-left: 0px;
}
.fa-youtube{
  background: rgb(230, 58, 58);
  color: white;
}
.fa-facebook{
  background: #3B5998;
  color: white;
}
}

/* For medium Device */
@media screen and (min-width: 577px) and (max-width: 767px){
.universal_padding{
    padding-left: 25px;
    padding-right: 25px;

}
    .nav_bar{     
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .logo_sec{
    align-items: center;
    justify-content: center;
}
.nav_con{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.nav_con a{
    font-size: 1rem;
}
.nav_social_media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 0px;
    margin-left: 20px;
}
}
/* For large device */
@media screen and (min-width: 768px) and (max-width: 992px){
.universal_padding{
    padding-left: 25px;
    padding-right: 25px;

}
    .nav_bar{     
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .logo_sec{
    align-items: center;
    justify-content: center;
}
.nav_con{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
}
/* Nav section responsiveness end here */

/* Banner Section responsiveness start here */
/* For smaller Device */
@media screen and (max-width: 576px) {
    .banner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
    margin-bottom: 40px;
}
.banner_content{
    margin: 0 auto;
}
.banner_title_1{
    font-size: 1.3rem;
}
.banner_title_2{
    font-size: 2rem;
    margin-top:-15px;
}
.banner_btn{
    margin-top: 40px;
}
.banner_signin{
    margin-right: 15px;
    padding: 10px 16px;
    font-size: 1rem;
}
.banner_rogue{
    padding: 10px 16px;
    border-radius: 25px;
    font-size: .8rem;
}
.banner_img{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.banner_img img{
    width: 85%;
    height: 50vh;   
}
}
/* For medium device */
@media screen and (min-width: 577px) and (max-width: 767px){
.universal_padding{
    padding-left: 50px;
    padding-right: 50px;
}
    .banner{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}
.banner_content{
    justify-content: left;
}
.banner_content p{
    font-size: .8rem;
}
.banner_title_1{
    font-size: 1.2rem;
}
.banner_title_2{
    font-size: 1.8rem;
    margin-top:-15px;
}
.banner_btn{
    margin-top: 40px;
}
.banner_signin{
    margin-right: 10px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: .8rem;
}
.banner_rogue{
    padding: 7px 10px;
    border-radius: 25px;
    font-size: .8rem;
}
.banner_img{
    width: 60%;
    text-align: center;
}
.banner_img img{
    width: 90%;
    height: 100%;   
}
}
/* For large Device */
@media screen and (min-width: 768px) and (max-width: 992px){
.universal_padding{
    padding-left: 50px;
    padding-right: 50px;
}
    .banner{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.banner_content{
    justify-content: left;
}
.banner_content p{
    font-size: 1rem;
}
.banner_title_1{
    font-size: 1.3rem;
}
.banner_title_2{
    font-size: 2rem;
    margin-top:-15px;
}
.banner_btn{
    margin-top: 40px;
}
.banner_signin{
    margin-right: 10px;
    padding: 10px 16px;
    font-size: .8rem;
    border-radius: 25px;
}
.banner_rogue{
    padding: 10px 16px;
    border-radius: 25px;
    font-size: .8rem;
}
.banner_img{
    text-align: center;
    width: 60%;
}
.banner_img img{
    width: 90%;
    height: 100%;   
}
}
/* Banner Section responsiveness end here */

/* Online Game responsiveness Start here */

@media screen and (max-width: 576px) {
    .universal_padding{
        /* padding-left: 30px;
        padding-right: 30px; */
    }
    .online_games{  
    margin-top: 75px;
    margin-bottom: 75px;
    }
.online_games h1{
    font-size: 1.5rem;
    margin-bottom: 0px;
    text-align: center;
    }
.online_games p{
    font-size: .8rem;
    text-align: center;
    }

.online_game_videos{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
.card{
    text-align: center;
}
.card p{
    text-align: center;
    
}
.card_img{
    height: auto;
    width: 70%;
    }
}
/* FOr medium Device */
@media screen and (min-width: 577px) and (max-width: 768px){
    .universal_padding{
        padding-left: 50px;
        padding-right: 50px;
    }
    .online_games{  
    margin-top: 75px;
    margin-bottom: 75px;
    }
.online_games h1{
    font-size: 2rem;
    margin-bottom: 0px;
    text-align: center;
    }
.online_games p{
    font-size: 1rem;
    text-align: center;
    }

.online_game_videos{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
.card{
    text-align: center;
}
.card p{
    text-align: center;
    font-size: .7rem;
}
.card_img{
    height: auto;
    width: 70%;
    }
}

/* Online Game responsiveness End here */

/* Instant Play responsiveness Start here */
/* For small device */
@media screen and (max-width: 576px) {
    .universal_padding{
    padding-left: 30px;
    padding-right: 30px;
    }
.instant_play{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30px;
}
.instant_content{
    width: 100%;   
    text-align: Center;
    margin-left: 0px;
    margin-top: 0px;
}
.instant_content_title{
    font-size: 1.5rem;
    
}
.instant_play_title_col{
    color: rgb(224, 48, 224); 
}
.instant_image{
    width: 90%;
    height: auto;
    margin-left: 60px;
}
.instant_image_big{
    width: 85%;
    position: relative;
    z-index: .5;
}
.instant_image_small{
    width: 40%;
    height: 40%;
    position: relative;
    bottom: 30%;
    right: 20%;
    z-index: 1;
}
}
/* For medium Device */
@media screen and (min-width: 577px) and (max-width: 768px){
    .universal_padding{
    padding-left: 50px;
    padding-right: 50px;
    }
.instant_play{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
}
.instant_content{
    width: 100%;   
    text-align: Center;
    margin-left: 0px;
    margin-top: 0px;
}
.instant_content_title{
    font-size: 2rem;
    
}
.instant_play_title_col{
    color: rgb(224, 48, 224); 
}
.instant_image{
    width: 90%;
    height: auto;
     margin-left: 120px;
}
.instant_image_big{
    width: 85%;
    position: relative;
    z-index: .5;
}
.instant_image_small{
    width: 40%;
    height: 40%;
    position: relative;
    bottom: 200px;
    right: 100px;
    z-index: 1;
}
}
/* For Large Device */
@media screen and (min-width: 769px) and (max-width: 992px){
.instant_play{
    display: flex;
    gap: 150px;
}
.instant_content{
    width: 40%;   
    text-align: right;
    margin-left: 60px;
    margin-top: 50px;
}
.instant_content_title{
    font-size: 1.5rem;
}
.instant_play_title_col{
    color: rgb(224, 48, 224); 
}
.instant_image{
    width: 600px;
    height: auto;
    margin-left: 50px;
}
.instant_image_big{
    width: 100%;
    position: relative;
    z-index: .5;
}
.instant_image_small{
    width: 50%;
    height: 40%;
    position: relative;
    bottom: 150px;
    right: 70px;
    z-index: 1;
}
}
/* For X-large Device */
@media screen and (min-width: 993px) and (max-width: 1320px){
.instant_play{
    display: flex;
    gap: 150px;
}
.instant_content{
    width: 40%;   
    text-align: right;
    margin-left: 40px;
    margin-top: 70px;
}
.instant_content_title{
    font-size: 2.5rem;
}
.instant_play_title_col{
    color: rgb(224, 48, 224); 
}
.instant_image{
    width: 600px;
    height: auto;
    margin-left: 50px;
}
.instant_image_big{
    width: 100%;
    position: relative;
    z-index: .5;
}
.instant_image_small{
    width: 50%;
    height: 40%;
    position: relative;
    bottom: 200px;
    right: 100px;
    z-index: 1;
}
}
/* Instant Play responsiveness End here */

/* Popular game Section Responsiveness  */
/* For small device */
@media screen and (max-width:576px) {
    .popular_games{
    margin-top: 0px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    /* margin-left: 5px;
    margin-right: 5px; */
}
.card_small{
    display: flex;
    justify-content: center;
    align-items: center;

}
.card_small p{
    font-size: .8rem;
}
.card_small:hover{
    border: 1px solid rgb(224, 48, 224);
    border-radius: 15px;
    color: rgb(224, 48, 224); 
}
.card_item{
    width: 20px;
    height: 14px;
}
}
/* For medium device */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .popular_games{
    margin-top: 0px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.card_small{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
}
.card_small p{
    font-size: 1rem;
}
.card_small:hover{
    border: 1px solid rgb(224, 48, 224);
    border-radius: 25px;
    color: rgb(224, 48, 224); 
}
.card_item{
    width: 25px;
    height: 18px;
}
}
/* For large Device */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .popular_games{
    margin-top: 0px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.card_small{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
}
.card_small p{
    font-size: 1rem;
}
.card_small:hover{
    border: 1px solid rgb(224, 48, 224);
    border-radius: 35px;
    color: rgb(224, 48, 224); 
    margin: 0px;
    padding: 0px;
}
.card_item{
    width: 25px;
    height: 18px;
}
}












